/* BANNER */
#banner {
  position: relative;
  width: 100%;
  height: 600px;
  background: url('https://source.unsplash.com/1600x900/?star') no-repeat center
    center/cover;
  background: #16296a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#banner .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#banner .banner-title {
  font-size: 40px;
  text-align: center;
  color: white;
}
#banner .banner-description {
  width: 90%;
  margin-top: 10px;
  font-size: 17px;
  line-height: 2;
  color: white;
}

/* -------------------------------------------------------------------- */
section {
  padding-top: 45px;
  padding-bottom: 45px;
}

.section-title {
  color: #31489b;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 65px;
}
/* Section-1 */
#section-1 {
  background-color: white;
}
#section-1 .section-title {
  color: #333;
  font-size: 34px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 65px;
  padding: 10px;
}

#section-1 .list {
  width: 100%;
}

#section-1 .list .item {
  width: 48%;
  min-height: 188px;
  box-sizing: border-box;
  line-height: 2;
  padding: 30px 20px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 900px) {
  #section-1 .list .item {
    flex-direction: column;
    width: 90%;
  }
}

#section-1 .list a {
  white-space: normal;
}
#section-1 .list a:hover {
  box-shadow: 0 3px 12px 1px rgba(84, 84, 84, 0.06);
}

#section-1 .list img {
  width: 140px;
  height: 75px;
  margin-bottom: 10px;
}
#section-1 .list .description {
  font-size: 14px;
}

/* -------------------------------------------------------------------- */
/* Section-2 */
#section-2 {
  /* background-color: transparent; */

  background-color: #f6f7fc;
}
#section-2 > div:not(:first-child) {
  margin-top: 90px;
}
#section-2 .section-title {
  color: #333;
  font-size: 34px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 65px;
}

#section-2 .intro-cards {
  width: 100%;
}

#section-2 .intro-card {
  width: 300px;
  height: 482px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}
#section-2 .intro-card .img {
  width: 100%;
  background-size: cover;
  height: 268px;
  background: url('https://source.unsplash.com/800x500/?people') no-repeat
    center center/cover;
}
#section-2 .intro-card .content {
  transition: all 0.2s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  height: 250px;
  padding: 20px 0;
}
#section-2 .intro-card:hover > .content {
  height: 360px;
}
#section-2 .intro-card .content .name {
  color: #dbb47e;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}
#section-2 .intro-card .content .title {
  margin-top: 15px;
  color: #333;
  font-size: 16px;
}
#section-2 .intro-card .content .description {
  margin-top: 13px;
  width: 250px;
  line-height: 2;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* -------------------------------------------------------------------- */
