/* 变量 */
:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --secondary-color: rgba(229, 148, 0, 0.9);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}
/* ---基础样式--- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-color: blue;
} */

a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

/* ---基础样式--- */

/* ---工具样式--- */
.inner {
  width: 80%;
}
@media (max-width: 1200px) {
  .inner {
    width: 100%;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.cross-align-center {
  align-items: center;
}

.main-align-center {
  justify-content: center;
}

.main-align-space-between {
  justify-content: space-between;
}
.main-align-space-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* ---工具样式--- */

/* ----Header---- */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  line-height: 1;
}
#nav {
  margin: 0 auto;
  height: 60px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* logo */
#nav .logo {
  height: 60px;
}

#nav .logo img {
  height: 100%;
  padding: 5px;
}
/* menu - pc */
#nav .nav-items .nav-item {
  display: inline-block;
  font-size: 1rem;
  height: 60px;
  padding: 22px 1.5rem;
}

#nav .nav-items .nav-item:hover {
  background-color: hsla(0, 0%, 100%, 0.25);
  border-bottom: 2px solid white;
}

/* menu - mobile */
.menu-wrap {
  display: none;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Dwon  */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Line Into X */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Cheched */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 300vw;
  height: 300vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  color: var(--secondary-color);
}

@media (max-width: 616px) {
  .nav-items {
    display: none;
  }
  .menu-wrap {
    display: block;
  }
}
/* ----Header---- */

/* ----Footer--- */
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
  background-color: #00032d;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  padding: 40px 0 20px;
  color: #666;
}

footer .title {
  font-weight: 500;
  white-space: nowrap;
  font-size: 16px;
  color: #999;
  line-height: 1;
  margin-bottom: 20px;
}
footer .item {
  text-align: left;
  transition: all 0.2s ease;
  line-height: 30px;
  color: white;
}

footer a {
  transition: all 0.2s ease;
}
footer a:hover {
  color: #024eb0;
}
