/* Banner */
#banner {
  position: relative;
  width: 100%;
  height: 600px;
  background: black;
  overflow: hidden;
}

#banner .carousel {
  background: #16296a;
  height: 100%;
  display: flex;
  width: 500%;
}

#banner .carousel .carousel-item {
  display: flex;
  justify-content: center;
  background-position: center;
  height: 100%;
  width: 20%;
  transition: 1s;
}

#banner .carousel .carousel-item .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#banner .carousel .carousel-item .inner p {
  width: 90%;
}

/* 指示器 */
#banner .carousel-pointer {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
}

#banner .carousel-pointer div {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 5px;
  background: white;
  transition: 0.5s;
  opacity: 0.48;
}

#banner .carousel-pointer .carousel-pointer-item-active {
  width: 30px;
  opacity: 1;
}

.banner-text {
  color: white;
}

.banner-text .title {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
}
.banner-text .slogan {
  font-size: 20px;
  margin-top: 35px;
}

.banner-text .description {
  line-height: 1.8;
  margin-top: 20px;
  /* width: 460px; */
  font-size: 15px;
}
/* Banner */

/* main */
section {
  padding-top: 45px;
  padding-bottom: 45px;
}
.section-title {
  color: #31489b;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 65px;
}

.text {
  line-height: 1;
  font-size: 18px;
  margin-top: 40px;
}
/* 领先的自然语言处理 */
#section-1 {
  width: 100%;
  padding-bottom: 0;
}
#section-1 .icon-item {
  text-align: center;
  width: 25%;
  color: #333;
  cursor: pointer;
}
#section-1 .icon-item > i {
  width: 60px;
  height: 60px;
}
#section-1 .icon-inactive {
  opacity: 0.4;
}
#section-1 .icon-active {
  opacity: 1;
}

#section-1 .triangle-wraper {
  margin-top: 30px;
  height: 18px;
}

#section-1 .triangle {
  display: inline-block;
  position: relative;
  left: 11%;
  /* 65px 392px 720px 1047px */
  top: 17px;
  width: 0px;
  height: 0px;
  /* background: white; */
  border-top: 18px solid white;
  border-right: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid transparent;
  transition: all 0.4s ease;
}

#section-1 .triangle:before {
  content: '';
  position: absolute;
  left: -7px;
  top: -18px;
  width: 0px;
  height: 0px;
  /* background: white; */
  border-top: 7px solid #00032d;
  border-right: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid transparent;
}

#section-1 .wave-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  font-size: 16px;
  line-height: 36px;
  padding-bottom: 37px;
  padding-top: 37px;
  background: url(//static.milvai.cn/static/powerlawai/img/b5bf120.png)
    no-repeat center center/cover;
}

#section-1 .wave-wraper .title {
  font-size: 18px;
  font-weight: 600;
}
#section-1 .wave-wraper .description {
  margin-top: 2px;
  line-height: 1.7;
}

#section-1 .wave-wraper > div {
  padding-left: 10px;
  padding-right: 10px;
}

#section-1 .wave-wraper > div:not(:first-child) {
  display: none;
}

/* ------------------------------------------- */

/* Slider */
/* carousel */
#section-2 {
  background: #f7f8fc;
}
#slider {
  padding-left: 10px;
  padding-right: 10px;
  background: #f7f8fc;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slider .carousel [type='radio'] {
  display: none;
}
#slider .carousel {
  display: flex;
  align-items: center;
  height: 652px;
  width: 80%;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
}

#slider .carousel label {
  margin: auto;
  width: 100%;
  height: 428px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#slide1,
#slide2,
#slide3,
#slide4,
#slide5,
#slide6 {
  box-sizing: border-box;
  padding: 50px;
}

#slide1::before,
#slide2::before,
#slide3::before,
#slide4::before,
#slide5::before,
#slide6::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(223, 217, 217, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
}

#slide1 {
  background: url('https://source.unsplash.com/800x500/?nature') no-repeat
    center center/cover;
}
#slide2 {
  background: url('https://source.unsplash.com/800x500/?water') no-repeat center
    center/cover;
}
#slide3 {
  background: url('https://source.unsplash.com/800x500/?fire') no-repeat center
    center/cover;
}
#slide4 {
  background: url('https://source.unsplash.com/800x500/?tree') no-repeat center
    center/cover;
}
#slide5 {
  background: url('https://source.unsplash.com/800x500/?fish') no-repeat center
    center/cover;
}
#slide6 {
  background: url('https://source.unsplash.com/800x500/?sky') no-repeat center
    center/cover;
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide6,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3,
#s6:checked ~ #slide4 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(0, -205%, 0);
  visibility: hidden;
}

#s1:checked ~ #slide6,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4,
#s6:checked ~ #slide5 {
  box-shadow: 0 8px 15px 1px rgba(0, 0, 0, 0.3);
  transform: translate3d(0, -108%, -50px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5,
#s6:checked ~ #slide6 {
  box-shadow: 0 4px 7px 1px rgba(0, 0, 0, 0.3);
  transform: translate3d(0, 0, 0);
}
#s1:checked ~ #slide1::before,
#s2:checked ~ #slide2::before,
#s3:checked ~ #slide3::before,
#s4:checked ~ #slide4::before,
#s5:checked ~ #slide5::before,
#s6:checked ~ #slide6::before {
  visibility: hidden;
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide6,
#s6:checked ~ #slide1 {
  box-shadow: 0 8px 15px 1px rgba(0, 0, 0, 0.3);
  transform: translate3d(0, 108%, -50px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide6,
#s5:checked ~ #slide1,
#s6:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(0, 205%, 0);
  visibility: hidden;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide6,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2,
#s6:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(0, 205%, 0);
  visibility: hidden;
}

.carousel-title {
  color: white;
  margin-bottom: 5px;
}

.carousel-description {
  width: 50%;
  color: white;
  line-height: 1.5rem;
}

/* Indicator */
#slider .indicator {
  margin-right: 10px;
  width: 100px;
  position: relative;
}

#slider .indicator .indicator-line {
  position: absolute;
  width: 1px;
  height: 239px;
  left: 7px;
  top: 19px;
  background: #31489b;
}

#slider .indicator .indicator-item {
  width: 100%;
  height: 25px;
  margin-bottom: 25px;
  cursor: pointer;
}

#slider .indicator .indicator-item-pointer {
  position: relative;
  z-index: 100;
  margin-right: 10px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #31489b;
  background: #f7f8fc;
}

#slider .indicator .indicator-item-pointer-active::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #31489b;
  left: 2px;
  top: 2px;
}

#slider .indicator .indicator-item-title {
  color: #31489b;
}

@media (max-width: 616px) {
  #slider .indicator {
    display: none;
  }

  #slider .carousel {
    width: 100%;
  }
}

/* ------------------------------------------------------------------ */
/* Section-3 */
#section-3 .item {
  width: 30%;
}

#section-3 .advantage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 616px) {
  #section-3 .advantage {
    flex-direction: column;
  }

  #section-3 .item {
    width: 100%;
  }
}

#section-3 .item .icon-wraper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 8px 15px 1px rgba(49, 72, 155, 0.16);
}

#section-3 .item .icon-wraper img {
  width: 48px;
  height: 41px;
}

#section-3 .item .title {
  font-size: 20px;
  color: #31489b;
  line-height: 1;
  margin-top: 38px;
}

#section-3 .item .description {
  padding: 10px;
  width: 100%;
  color: #6377bf;
  margin-top: 15px;
  line-height: 30px;
}

/* --------------------------------------------------------- */
/* Section-4 */
#section-4 {
  background: #f7f8fc;
}

.flid-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.flid-card-item {
  position: relative;
  width: 24%;
  height: 275px;
  margin-bottom: 10px;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

@media (max-width: 1200px) {
  .flid-card-item {
    width: 30%;
  }
}

@media (max-width: 616px) {
  .flid-cards {
    flex-direction: column;
  }
  .flid-card-item {
    width: 80%;
  }
}

.flid-card-item:hover {
  transform: rotateY(180deg);
}

.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: white;
  color: #31489b;
  border-radius: 8px;
}

.thefront img {
  width: 62.5px;
  height: 51px;
}

.thefront .title {
  margin-top: 40px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
}

.theback {
  position: absolute;
  padding-left: 45px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #31489b;
  color: white;
  transform: rotateY(180deg);
  border-radius: 8px;
}
.theback .icon {
  color: white;
  font-size: 35px;
}
.theback .title {
  font-size: 20px;
  font-weight: 500;
  margin: 25px 0;
}
.theback .description {
  font-size: 14px;
  line-height: 24px;
  width: 80%;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* -------------------------------------------------------------------------------- */
/* Section-5 */
#section-5 .image-wraper {
  width: 270px;
  height: 100px;
  margin-bottom: 40px;
  border-radius: 50px;
  box-shadow: 2px 3px 24px 2px rgba(49, 71, 155, 0.09);
  overflow: hidden;
}

#section-5 .partner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* ----------------------------------------------------------------------------------- */
/* Section-6 */
#section-6 {
  background: #f7f8fc;
}

#section-6 .item {
  width: 366px;
  height: 447px;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 6px 15px 1px rgba(49, 72, 155, 0.09);
  margin-bottom: 10px;
}
#section-6 .item .image {
  width: 366px;
  height: 257px;
  overflow: hidden;
  background: url('https://source.unsplash.com/800x500/?nature') no-repeat
    center center;
  background-size: auto 100%;
  transition: all 1s ease;
}

#section-6 .item .image:hover {
  background-size: auto 120%;
}

#section-6 .item .item-bottom {
  padding: 20px;
}

#section-6 .item .date {
  margin-bottom: 20px;
  color: #666;
  font-size: 12px;
  line-height: 1;
}

#section-6 .item .title {
  color: #333;
  width: 100%;
  height: 60px;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 30px;
  white-space: normal;
}
#section-6 .item .link {
  color: #31489b;
  font-size: 16px;
}
/* main */
