/* BANNER */
#banner {
  position: relative;
  width: 100%;
  height: 600px;
  background: url('https://source.unsplash.com/1600x900/?star') no-repeat center
    center/cover;
  background: #16296a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#banner .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#banner .banner-title {
  font-size: 40px;
  text-align: center;
  color: white;
}
#banner .banner-description {
  width: 90%;
  margin-top: 10px;
  font-size: 17px;
  line-height: 2;
  color: white;
}

/* news-detail */
section {
  background-color: #e1e1e1;
}
.news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.6);
}
@media (max-width: 1200px) {
  .news-container {
    width: 90%;
  }
}
.news-container .news-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-container .news-head .news-title {
  font-weight: bold;
  font-size: 2rem;
  padding-top: 45px;
  padding-bottom: 25px;
}
.news-container .news-head .news-date {
  font-size: 1rem;

  padding-bottom: 25px;
}
.news-container .news-text p {
  text-indent: 2em;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
}

.news-container .news-text .news-image {
  float: right;
  padding: 10px;
  width: 45%;
}

@media (max-width: 1200px) {
  .news-container .news-text .news-image {
    width: 100%;
  }
}

.news-container .news-text .news-image img {
  width: 100%;
}
