/* BANNER */
#banner {
  position: relative;
  width: 100%;
  height: 600px;
  /* background: url('https://source.unsplash.com/1600x900/?star') no-repeat center
    center/cover; */
  background: #16296a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#banner .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#banner .banner-title {
  font-size: 40px;
  text-align: center;
  color: white;
}
#banner .banner-description {
  width: 90%;
  margin-top: 10px;
  font-size: 17px;
  line-height: 2;
  color: white;
}

/* news-box */
section {
  padding-top: 45px;
  padding-bottom: 45px;
}
#news-box {
  background: #f7f8fc;
}

#news-box .item {
  width: 30%;
  height: 447px;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 6px 15px 1px rgba(49, 72, 155, 0.09);
  margin-bottom: 10px;
}
@media (max-width: 920px) {
  #news-box .item {
    width: 49%;
  }
}
@media (max-width: 580px) {
  #news-box .item {
    width: 76%;
  }
}
#news-box .item .image {
  width: 100%;
  height: 257px;
  overflow: hidden;
  background-size: auto 100%;
  transition: all 1s ease;
}

#news-box .item .image:hover {
  background-size: auto 120%;
}

#news-box .item .item-bottom {
  padding: 20px;
}

#news-box .item .date {
  margin-bottom: 20px;
  color: #666;
  font-size: 12px;
  line-height: 1;
}

#news-box .item .title {
  color: #333;
  width: 100%;
  height: 60px;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 30px;
  white-space: normal;
}
#news-box .item .link {
  color: #31489b;
  font-size: 16px;
}
