/* BANNER */
#banner {
  position: relative;
  width: 100%;
  height: 600px;
  /* background: url("https://source.unsplash.com/800x500/?nature") no-repeat
    center center/cover; */
  background: skyblue;
}

#banner .inner {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#banner .banner-right {
  width: 550px;
}

#banner .banner-title {
  font-size: 40px;
  color: white;
}
#banner .banner-description {
  margin-top: 10px;
  font-size: 17px;
  line-height: 2;
  color: white;
}

@media (max-width: 1200px) {
  #banner .inner {
    width: 100%;
  }
}
@media (max-width: 800px) {
  #banner .video-area {
    display: none;
  }
}

/* -------------------------------------------------------------------- */
section {
  padding-top: 45px;
  padding-bottom: 45px;
}
.section-title {
  color: #333;
  font-size: 34px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 65px;
}

/* Section-1 */
#section-1 .idea-wraper {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#section-1 .item {
  width: 365px;
  padding: 30px 40px;
  box-shadow: 0 7px 17px 4px hsla(0, 0%, 79.2%, 0.35);
  border-radius: 9px;
  align-items: center;
  justify-content: center;
  background: #fff;
  transition: all 0.1s ease-in-out;
  opacity: 0.5;
}
@media (max-width: 1200px) {
  #section-1 .idea-wraper {
    width: 100%;
    flex-direction: column;
  }

  #section-1 .item {
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

#section-1 .item-active {
  opacity: 1;
  transform: scale(1.1);
  z-index: 1;
}

#section-1 .item .image {
  margin-bottom: 30px;
}
#section-1 .item .title {
  font-size: 1.5rem;
  color: #0053fa;
  margin-bottom: 32px;
}
#section-1 .item .content {
  font-size: 1rem;
  color: #333;
  line-height: 36px;
}

/* --------------------------------------------------------------------- */
.bg-gray {
  background-color: #f6f7fc;
}
/* Section-scroll */
.section-scroll {
  line-height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.section-scroll .image-wraper {
  width: 60%;
  height: 400px;
}

@media (max-width: 920px) {
  .section-scroll {
    flex-direction: column;
  }
  .section-scroll .image-wraper {
    width: 90%;
    height: 400px;
  }
}
.section-scroll .image {
  transition: all 1s ease-in-out;
}

.section-scroll .title {
  text-align: center;
  font-size: 24px;
  color: #1f6de6;
  margin-bottom: 6px;
}
.section-scroll .content {
  width: 320px;
  font-size: 16px;
  color: #333;
  text-align: center;
  padding-bottom: 10px;
}

.section-scroll-end {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section-scroll-end .title {
  text-align: center;
  font-size: 24px;
  color: #1f6de6;
  margin-bottom: 6px;
}
.section-scroll-end .content {
  width: 320px;
  font-size: 16px;
  color: #333;
  text-align: center;
  padding-bottom: 45px;
}
